.button{
    background-color: #5A8FEC;
    font-family: Roboto;
    border:none;
    border-radius: 4px;
    height: 50px;
    width: 270px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}