body {
    margin: 0;
}

.root {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0 auto;
    padding: 0;
    background-color: #ccecd6;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content; 
   
}

@media (min-width: 769px) {
  .root {
    margin-top: 80px;
  }
}

.title {
    font-size: 42px;
    text-align: center;
    width: 287px;
    height: 48px;
    font-family: "Poppins";
    font-style: bolder;
    line-height: 54px;
    color: #000000;
    padding-bottom: 110px;
    padding-top: 50px;
  }

  .userEmail {
font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-top: 100px;
  }

  .logout {
      color: #3B97D3;
      font-size: 16px;
      text-decoration-line: underline;
      padding: 0;
      margin: 25px 0px 50px 0px;
  }

  .btn {

      background-color: #5A8FEC;
      font-family: Roboto;
      border:none;
      border-radius: 4px;
      height: 50px;
      width: 270px;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 700;
  
  }

  a {
    margin: 20px 0px 25px 0px;
    padding: 0;
  }

  h1 {
    padding: 0;
    margin: 0;
  }